.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  /* border:1px solid red; */
}

.pcos-form {
  border: 1px solid rgb(187, 185, 185);
  border-radius: 15px;
}

.input-container {
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
}

label {
  margin-bottom: 5px;
}

.multipart-input {
  padding: 10px;
  border: 1px solid #9f9d9d;
  border-radius: 20px;
  font-size: 16px;
  width: 300px;
  background-color: rgb(255, 255, 255) !important;
}

.multipart-input:focus {
  outline: none;
  border: 1px solid rgb(242, 114, 240) !important;
}

.button-container {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.multipart-button {
  padding: 10px 20px;
  background-color: #f5bef4;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.multipart-button {
  background-color: #f5c3f4;
  cursor: not-allowed;
}

.advanceForm {
  width: 100%;
  min-height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.advanceForm form {
  width: 350px;
  border: 1px solid rgb(227, 223, 223);
  border-radius: 18px;
  padding: 20px 15px;
  box-sizing: border-box;
}

.advanceForm form input {
  width: 100%;
  box-sizing: border-box;
  padding: 7px 10px;
  margin-bottom:10px;
  border-radius:12px;
  border:1px solid rgb(228, 227, 227);
}

.advanceForm form input:focus
{
    outline:none;
    border:1px solid rgb(212, 101, 243);
}

.advanceForm form button {
  padding: 8px 30px;
  border-radius: 25px;
  cursor: pointer;
  background-color: rgb(208, 19, 233);
  color: white;
}
